body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 20px;
}

.header {
    grid-column: 1;
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    color: #4A90E2;
}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-self: center;
}

.results-header {
    display: flex;
    color: #87cefa;
    font-size: 24px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

#resultsCount {
    color: #5fd4b4;
}


#resultsTable {
    display: grid;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 350px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.table-header {
    display: contents;
    text-align: center;
}
.table-body th {
    text-align: center;
}
.table-body td {
    padding: 10px 20px;
    border: solid 1px white;
    text-align: center;
}

.table-body {
    display: contents;
}

.table-body tr {
    display: contents;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center !important;
}

.table-header .table-cell {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
}

.table-row:nth-child(odd) .table-cell {
    background: #F8E391;
}

.table-row:nth-child(even) .table-cell {
    background: #e2d674;
}

.form-container {
    display: grid;
    place-items: center;
    grid-template-columns: 7fr;
}

#dataForm {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 10px;
    align-items: center;
    justify-items: start;
}
label {
    font-weight: bold;
}

.input, .select {
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

.center {
    background-color: #2e3b4e;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.highlight {
    color: #87cefa;
    font-weight: bold;
    font-size: 18px;
}

.date-time {
    color: #87cefa;
    font-size: 16px;
    margin-top: 5px;
}

.time {
    color: #9c9ae2;
    font-weight: bold;
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    background-color: #f44336;
    color: white;
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
}

#tooltip{
    position: absolute;
    z-index: 999999;
    background: white;
    border-radius: 10px;
    padding: 2px 5px;
    pointer-events: none;
}

#link {
    text-align: center;
}
